*{margin: 0;padding: 0 }

li.point {
    display: block;
    list-style: none;
    text-indent: -99999px;
    border: 2px solid #c1c1c1;
    background: #c1c1c1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 20px 20px 0px 0px;
    transition: .25s ease;
    cursor: pointer;
}
.points {
    text-align: center;
    position: absolute;
    bottom: 9%;
    left: 7%;
    z-index: 9;
    cursor: pointer;
}
li.point:hover{
    background: #56a1d0;
}
.active{
    background: #56a1d0 !important;
    padding: 15px 0px !important;
    height: 30px !important;
    border-radius: 50px !important;
}
.cacslide ,
ul.slide,
li.licuaslide,
.motslide,
.anh {
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left: 0rem;
}
ul.silde{position: relative;}
.anh{background-position: center;background-size: cover;
    background-attachment:fixed;}
.cacslide{position: relative;}
.licuaslide{position: absolute;transition: .8s;opacity: 0;}
.motsilde{position: relative;} 
.text{position: absolute;}
._1 , ._2 , ._3{position: absolute;}
._1 , ._2 , ._3,.text{
    z-index: 1;
    top: 0;
}
img._3{
    right: 0;
    opacity: 0.4;
}
img._1{
    top:-30%;
    opacity: 0.4;
}
img._2{
    top:-60%;
    opacity: 0.4;
}
.text {
    width: 51%;
    top: 14%;
    left: 21%;
    font-weight: normal;
    color: white;
    opacity: 0;
}
.text h2 {
    font-size: 100px;
    font-weight: normal;    
}
logo {
    font-size: 31px;
}
.ke {
    width: 78%;
    height: 2px;
    background-color: white;
    margin: 10px 0px 0px 0px;
}
.nut {
    padding: 11px 8px;
    background-color: #ffffff;
    border-radius: 50px;
    color: #000;
    border: none;
    text-align: center;
    width: 130px;
    margin: 16px 0px 0px 0px;
    transition: 1s !important ;
    font-size: 14px;
}
.nut:hover{
    background-color:#ffffff;
}
.slidewarpper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.active2{opacity: 1;}
.nut{cursor: pointer;}
.active2 ._1,
.active2 ._2{
    animation: Animation1 1.2s forwards;
    opacity: 0;
}
.active2 ._1{animation-delay: 0.2s}
@keyframes Animation1 {
    from{
        transform: translateX(-100%) translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0) translateY(0);
        opacity: 0.6;
    }
}
.active2 ._3 {
    animation: Animation2 1.2s forwards;
}
@keyframes Animation2 {
    from{
        transform: translateX(200%) translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0) translateY(0);
        opacity: 0.6;
    }
}
.active2 .text ,
.active2 .text h2,
.active2 .text small,
.active2 .text .ke,
.active2 .text p,
.active2 .text .nut {
    animation: Animation3 0.9s forwards;
    animation-delay: 1.3s
}
@keyframes Animation3 {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(0)
    }
}
li.active2 .text h2{
    transition-delay:1.1s !; 
}
li.active2 .text logo {
    transition-delay:2s !important; 
}
li.active2 .text .ke {
    transition-delay: 1.5s !important;
}
li.active2 .text p {
    transition-delay: 1.9s !important;
}
li.active2 .text .nut{
    transition-delay: 2s !important;
}
#previousButton , #nextButton {
    color: white;
    font-size: 4em;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 100;
    cursor: pointer;
    transition: .4s;
    transition-delay: .2s;
}
#previousButton{
    left:0.6em;
    top: 40%
}
#nextButton{
    right:0.6em;
    top: 40%
}
#previousButton:hover , #nextButton:hover {
    opacity: 0.7;
}